:root {
  --rose: turquoise;
  --eros: indigo;
}

:any-link {
  color: inherit;
  text-decoration-color: snow;
}

::selection {
  background: purple;
  color: aqua;
}

.rose {
  background: var(--rose);
  color: var(--eros);
}

.eros {
  background: var(--eros);
  color: var(--rose);
}

@media (prefers-contrast: more) {
  .rose {
    --rose: #bea;
  }
}
